-- Create replication user for master-slave setup
CREATE USER IF NOT EXISTS '{{ replication.user | default("replicator") }}'@'%' IDENTIFIED BY '{{ replication.password | default("replicator") }}';
GRANT REPLICATION SLAVE ON *.* TO '{{ replication.user | default("replicator") }}'@'%';

-- Create a user for monitoring replication status
CREATE USER IF NOT EXISTS 'monitor'@'%' IDENTIFIED BY '{{ root_password | default("root") }}';
GRANT REPLICATION CLIENT ON *.* TO 'monitor'@'%';

-- Flush privileges
FLUSH PRIVILEGES;

-- Show master status for reference
SHOW MASTER STATUS;